@import '../../shared';


.cart-container{
    width: 250px;
    position: absolute;
    top: 132%;
    right: 0;
    background: $bg-pri;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);
    z-index: 500;
    .cart-wrapper{
        padding: 1rem;
        .cart-items-wrapper{
            max-height: 250px;
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
            overflow-y: auto;
        }
        .total-price{
            font-size: 0.8rem;
            color: $bg-sec;
            font-weight: 500;
            padding-top: 0.5rem;
            display: flex;
            justify-content: space-between;
        }
        .proceed-button{
            width: 100%;
            margin: 5px 0;
            button{
                width: 100%;
                padding: 0.5rem 0;
                background: $special;
                color: $bg-pri;
                border: none;
                border-radius: 0.5rem;
                text-transform: uppercase;
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.1);
            }
        }
        .view-cart{
            width: 100%;
            text-align: center;
                a{
                    text-decoration: none;
                    color: inherit;
                    &:hover{
                        text-shadow: 0 0 10px $special;
                    }
                }
        }
    }
}