@import '../../shared';
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');




.navigation-container{
    position: relative;
    width: 100%;
    min-height: 50px;
    background: $bg-sec;
    box-shadow: 0 0 3px 5px rgba($color: #000000, $alpha: 0.2);
    transition: all 1s;
    z-index: 1000;
    .navigation-wrapper{
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 1s;
        
        .menu-btn{
            color: $special;
            font-size: 1.5rem;
            @media (min-width: 1000px) {
                display: none;
            }
        }
        .logo-wrapper{
            padding-right: 1rem;
            text-transform: uppercase;
            color: $special;
            font-family: 'Potta One', cursive;
        } 
        .nav-items-wrapper{
            display: none;
            @media (min-width: 1000px) {
                display: block;
                color: $special;
                text-align: left;
                display: flex;
                flex: 1;
            }
        }
         
        .nav-icons-wrapper{
            padding: 0 0.5rem;
            color: $special;
            justify-self: right;
            display: flex;
            align-items: center;
            user-select: none;
            .icons{
                position: relative;
                padding: 0 1rem;
                font-size: 1.5rem;
                cursor: pointer;
                a{
                    text-decoration: none;
                    color: inherit;
                }
                &:active .icon{
                    opacity: 0.5;
                }
                .badge{
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: -20%;
                    left: 10%;
                    background: $special;
                    color: $bg-pri;
                    padding: 5px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.6rem;
                }
            }
        }
        @media (min-width: 1000px) {
            width: 90%;
        }
    }
}