@import '../../shared';





.product-container{
    width: 100%;
    max-height: 420px;
    padding: 0 5px;
    position: relative;
    transition: all 1s ease-in-out;
    overflow: hidden;
    &:hover .product-wrapper{
        .description-container{
            top: -30px;
             animation: jumptop 500ms ease-in-out;
            @keyframes jumptop{
                    from{
                        top: 0;
                    }
                    to{
                        top: -30px;
                    }
            }
            .btn-wrapper{
                display: block;
            }
        }

    }
    .product-wrapper{
        width: 100%;
        position: relative;
        .image-wrapper{
            .product-image{
                width: 100%;
                height: 100%;
            }
        }
        .description-container{
            width: 100%;
            position: relative;
            z-index: 2;
            transition: all 1s ease-in-out;
            .description-wrapper{
                width: 100%;
                background: #fff;
                .row-subtitle{
                    width: 100%;
                    padding: 5px 0;
                    display: flex;
                    justify-content: space-between;
                    color: $col-sec;
                    h5{
                        color: inherit;
                        text-transform: uppercase;
                    }
                    .rating{
                        color: $special;
                    }
                }
                .row-title{
                    color: $col-pri;
                    padding: 5px 0;
                }
                .row-price{
                    color: $special;
                    padding: 5px 0;
                }
            }
            .btn-wrapper{
                display: none;
                .add-to-cart{
                    height: 30px;  
                    border: none;
                    padding: 0 0.5rem;
                    text-align: center;
                    border-radius: 0.4rem;
                    background: $special;
                    color: #fff;
                    text-transform: uppercase;
                    animation: displayed 1s ease-in-out;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .btn-icon{
                        font-size: 1.2rem;
                        margin: 0 5px;
                    }
                    &:hover{
                        background: $bg-sec;
                    }
                    &:active{
                        opacity: 0.7;
                    }
                    @keyframes displayed {
                        from{
                            opacity: 0;
                            display: none;
                        }
                        to{
                            opacity: 1;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
}

