@import '../../shared';




.home-container{
    width: 100%;
    background: $bg-pri;
    .promos-container{
        display: flex;
        flex: 0 0 25%;
        overflow-x: hidden;
    }
    .products-container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, auto); 
        grid-template-rows: repeat(auto,400px);
        gap: 10px;
    }
    .services-container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
}