@import '../../shared';




.home-container{
    width: 100%;
    background: $bg-pri;
    .promos-container{
        display: flex;
        flex: 0 0 25%;
        overflow-x: hidden;
    }
    .products-header{
        width: 100%;
        text-align: center;
        padding: 1rem;
        .title{
            padding: 5px 0;
        }
        .subtitle{
            padding: 5px 0;
        }
    }
    .products-container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 10px;
    }
    .services-container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
}