@import '../../shared';




.home-container{
    width: 100%;
    background: $bg-pri;
    .promos-container{
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
    }
    .products-header{
        width: 100%;
        text-align: center;
        padding: 1rem;
        .title{
            padding: 5px 0;
            color: rgba($color: #000000, $alpha: 0.7);
        }
        .subtitle{
            padding: 5px 0;
            color: rgba($color: #000000, $alpha: 0.6);
        }
    }
    .products-container{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        @media (min-width: 700px) {
            grid-template-columns: repeat(3, auto);
        }
        @media (min-width: 1020px) {
            grid-template-columns: repeat(4, auto);
        }
    }
    .services-container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
}